.activityLog{
    width: 95%;
    margin: auto;
    /* height: 100vh; */
    border-radius: 5px;
    background-color: white;
    margin-top: 10px;
    margin-bottom: 100px;
}

.activityLogItem{
    padding: 10px 20px;
    color: #243a48;
}


.tableBoody{
    /* display: none; */
    width: 100%;
    /* max-height: calc( 89% - 1.6rem ); */
    background-color: #fffb;
    margin: .8rem auto ;
    overflow: auto;
}

.tableBoody::-webkit-scrollbar{
    width: 0.5rem;
    height: 0.5rem;
}

.tableBoody::-webkit-scrollbar-thumb{
    border-radius: 0.5rem;
    background-color: #0004;
}
.table{
    width: 100%;
    padding: 1rem;
    border-collapse: collapse;
    overflow: auto;
}
 .td{
    padding: .5rem;
    border-collapse: collapse;
    text-align: center;
    border: 1px solid #c8ced3;
    
}

.th{
    padding: .5rem;
    border-collapse: collapse;
    border: 1px solid #c8ced3;
}

.tr{
    border: 1px solid #c8ced3;
}

.thead .th{
    position: sticky;
    top: 0;
    /* left: 0; */
    background-color: #e4e4e4;
}

@media screen and (max-width: 960px) {
    .activityLog{
        width: 98vw;
    }
   
    
  }